# Created during development
.ipynb_checkpoints
.vscode

# Downloadable dataset
dataset/test/
dataset/train/
dataset/val/

# Downloadable model
*.pth
*.ckpt

# Program output
*.csv
*.pckl
*.out
*.sad

# Video files
*.mp4
*.mkv
*.webm
*.avi

# Audio files
*.wav

# Image files
*.jpg

# Annotations
*.rttm
*.lab

# Not part of the project
*.ipynb
protocolo/

__pycache__/
*.py[cod]