# Downloadable dataset
dataset/videos/
dataset/waves/
dataset/vad/
dataset/asd/
dataset/avd/
dataset/face_clips/
model/third_party/avr_net/results/

# Downloadable model
*.pth
*.ckpt
model/third_party/avr_net/checkpoints/

# Program output
*.csv
*.pckl
*.out
*.sad
*.png
model/tools/*.jpg

# Not part of the project
__pycache__/
*.py[cod]
*.ipynb
.ipynb_checkpoints