# Downloadable dataset
dataset/videos/
dataset/waves/
dataset/vad/
dataset/asd/
dataset/avd/
dataset/face_clips/

# Downloadable model
*.pth
*.ckpt
model/third_party/pytorch_parallel/data/*

# Program output
*.csv
*.pckl
*.out
*.sad
model/tools/*.jpg

# Not part of the project
__pycache__/
*.py[cod]
*.ipynb
.ipynb_checkpoints
.vscode